.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: #1b1b1b;
    border-radius: 25px;
    width: 100%;
    margin-top: 10px;
}

.iconContainer {
    width: 30%;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #333;
    border-radius: 25px;
    margin-right: auto;
}

.opcionContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.addText {
    color: rgb(204, 204, 204);
    margin-right: 8px;
    margin-left: 10px;
    font-size: 14px;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.iconButton img {
    width: 20px;
    height: 20px;
}

.dropDownContainer {
    position: relative;
    margin-right: 10px;
}

.dropDownButton {
    background-color: #333;
    color: rgb(182, 178, 178);
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
}

.arrowIcon {
    margin-left: 8px;
}

.dropDownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 15px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 140px;
}

.dropDownItem {
    padding: 10px 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: -8px;
    margin-top: 5px;
    background-color: #333;
    color: #ccc;
    font-size: 16px;
    border: none;
    text-align: left;
    border-radius: 15px;
    transition: background-color 0.3s ease;

    &:hover {
        width: 100%;
        background-color: #444;
    }
}

.postButton {
    background-color: #1ed760;
    color: #000;
    border: none;
    padding: 8px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}